<%= form_for([@event, @comment]) do |f| %>
    <fieldset>
      <div id="edit">
      <%= f.text_area :content , id: :content%><br />
      </div>
    </fieldset>
    <%= f.submit "Post" %>
<% end %>
