<h2>PS5 Documentation </h2>
<h3>Type of Content</h3>
<li>Users</li>
<li>Events</li>
<li>Comments on Events</li>
<li>User submission of News Articles</li>
<li>Event Registration</li>
<li>Users</li>

<h3>Classification of Users:</h3>

<h4><b>Admin(Chairperson/Secretary)</b></h4>
<p>Manage News and events</p>
<p>Manage Users and accounts</p>
<p>Review and approve news articles</p>
<p>Manage discussions</p>
<p>Manage comments</p>

<h4><b>Normal Users(Students and Staff)</b> </h4>
<p>Sign up</p>
<p>Join an event</p>
<p>Comment on an event</p>
<p>Submit news articles</p>
<p>Comment and discussion</p>

<h3>Workflow</h3>

<ol>
  <li>Users</li>
  <ul>
    <li>Users Can register themselves by filling their deatails</li>
    <li>Users can edit their profile</li>
    <li>Users can register for participation in an event.</li>
    <li>Users can also comment on events.</li>
  </ul>
  <li>Events</li>
  <ul>
    <li>Only Admin can create events.</li>
    <li>Users can register for the available events.</li>
    <li>Admin is able to modify and delete events.</li>
  </ul>
  <li>News Articles</li>
  <ul>
    <li>Users can submit their news articles.</li>
    <li>Admin will review the article and approve or reject it.</li>
    <li>Only approved articles will be displayed in the application.</li>
  </ul>
</ol>
<h3>ER Diagram </h3>
<%= image_tag "ERD.jpg" %>
<h3>Versioning System</h3>
<p>Since the current version of the content is enough for our application, we are not using any kind
  of versioning system.
</p>