<h2>PS6 Documentation </h2>

<br>
<h3>Suggestions to Web6 and Web10</h3>
<%= link_to "Suggestions", suggestions_path %>

<br>
<br>
<h3>Feedback from Web Teams</h3>

<b>Web 6</b>
<ol>
<li>Add more content- images, related text- in Home page</li>
<li>Make User Registration page, Event Participation and New Article pages more attractive using HTML table tags and
  bootstrap
</li>
<li>Add contents in About Us page</li>
</ol>

<br>
<b>Web 5</b>

  <p>Critique Name: S Rakesh Reddy</p>
  <p>Group: web05</p>
  <p>Team Members:
  <p>S Rakesh Reddy(118169)</p>
  <p>P Swathi Ramya(119147)</p>
  <p>K Shiva Kumar(119145)</p>

<br>
<ol>
  <b>Issues:</b>
  <li>There is a option to cancel the account of a user who is already logged in to the system, but the option is not functioning.</li>
  <li>There is no confirmation to delete a post under the Events section of the application. </li>
</ol>

<ol>
  <b>Comments/FeedBack:</b>
  <li>The look and feel is very simple and easy for a new user to understand the system without much effort.</li>
  <li>The navigation to the different functionalities of the system are smooth and clear.</li>
  <li>Is there any way to notify the user whether the article which he/she has written is rejected.</li>
</ol>

<br>
<h3>Community Feedback:</h3>
<p>We met the secretary of AIT SU Campus and Environment committee. He used the application both as a user and admin
  and pointed out the following to be added to the website.
</p>
<li>If anybody is willing to work as volunteers with the community, they should be able to register as volunteers.
    And the chairperson and secretary would like to know the number of volunteers and their details such as name,
    department, contact information and T-shirt size.
</li>
<li>
  The website should show the plan for upcoming activities.
</li>
<li>
  Show the history of previously completed events with details and photos. This will help the audience easily access
    what the community had performed and give feedbacks and also suggest ideas.
</li>
<li>
  Add calender for scheduling upcoming events such as debate competitions or other campus and environment related
    programs.
</li>

<br>

<h3>Action Plan:</h3>
<li>For the volunteers registration, we will add one more user role to our model.</li>
<li>The admin will announce the plan for upcoming activities.</li>
<li>Show details and photos of previous events of the community. </li>
<li>Make cosmetic changes on suggested pages </li>