<h2> References</h2>
<h3>Rails Admin</h3>
<br>  https://github.com/sferik/rails_admin
<br>  http://codepany.com/blog/rails-5-user-accounts-with-3-types-of-roles-devise-rails_admin-cancancan/

<h3> SSL </h3>
<br>  https://www.digitalocean.com/community/tutorials/how-to-secure-apache-with-let-s-encrypt-on-ubuntu-14-04
<br>  https://cis.ait.asia/course_offerings/498/lap-companion

<h3>  Charts and Groupdate Gem </h3>
<br>  https://github.com/ankane/groupdate
<br>  https://richonrails.com/articles/charting-with-chartkick

<h3>	Rails Security Guide and Gems </h3>
<br>	https://github.com/thesp0nge/dawnscanner
<br>	https://github.com/hardhatdigital/rails-security-audit
<br>	https://www.engineyard.com/blog/ruby-on-rails-security-checklist
<br>	http://guides.rubyonrails.org/configuring.html#configuring-a-da$
<br>	https://www.engineyard.com/blog/encrypted-rails-secrets-on-rails-5.1
<br>	https://yos.io/2014/12/02/rails-static-analysis-and-vulnerability-scanning/
<br>	https://github.com/Spakman/rubylibcrack
<br>	http://blog.presidentbeef.com/blog/2013/02/08/avoid-sql-injection-in-rails/
<br>	https://rails-sqli.org/

<h3> Ban a user</h3>
<br>  https://stackoverflow.com/questions/5629480/rails-devise-is-there-a-way-to-ban-a-user-so-they-cant-login-or-reset-their
<br>  https://stackoverflow.com/questions/3894919/what-is-the-best-way-to-ban-block-users-with-devise-for-rails

<h3>For sketching the page flow</h3>
<br>	https://www.draw.io/
